@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input-container {
  display: flex;
  align-items: center;
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 4px;
  transition: width 0.3s ease-in-out;
  width: 40px; /* Initial width when closed */
  overflow: hidden;
}

.search-input-container.open {
  width: 300px; /* Width when opened */
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  margin-right: 4px; /* Adjust for spacing inside the input container */
  transition: transform 0.3s;
}

.search-button:hover {
  transform: scale(1.1);
}

.search-input {
  border-radius: 5px;
  outline-color: #fff;
  background-color: #000;
  outline: none;
  padding: 4px;
  width: 100%;
  font-size: 16px;
}

.search-input::placeholder {
  color: #fff;
}

img {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #ffc639 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s2 0.5s infinite;
}
.custom-loader::before {
  margin: 8px;
  filter: hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
